[user]
  name  = Chris Hunt
  email = chrishunt@github.com
[github]
  user = chrishunt
[credential]
  helper = /opt/boxen/bin/boxen-git-credential
[hub]
  protocol = https
[core]
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = vim -f
  autocrlf = input
  safecrlf = true
  excludesfile = /Users/chris/.global_gitignore
[advice]
  statusHints = false
[web]
  browser = open
[push]
  config = default
  default = tracking
[rebase]
  autosquash = true
[merge]
  summary = true
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green
[color "diff"]
  meta = blue
  frag = magenta
  old  = red
  new  = green
[color "status"]
  added = yellow
  changed = green
  untracked = blue
[alias]
  a       = add -u
  aa      = add --all :/
  ap      = add -u -p
  b       = browse
  bam     = "!source ~/.githelpers && delete_local_merged_branches"
  bamr    = "!source ~/.githelpers && delete_remote_merged_branches"
  c       = commit -v
  co      = checkout
  d       = diff
  ds      = diff --staged
  dw      = diff --color-words
  p       = push origin head
  pr      = "!f() { git fetch origin refs/pull/$1/head:pr/$1 && git co pr/$1; } ; f"
  s       = status -s -b
  sm      = submodule
  smu     = submodule foreach git pull origin master
  summary = "!source ~/.githelpers && weekly_summary"
  td      = merge --no-ff
  up      = "!git fetch upstream && git rebase upstream/master"
  w       = whatchanged --decorate
  wp      = whatchanged --decorate -p
  l = log --pretty='format:%C(yellow)%h %C(blue)%ad %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar' --date=short
