.asdf
.bash_logout
.bash_profile
.bashrc
.bundle
.cache
.config/configstore
.config/gatsby
.dropbox
.dropbox-dist
.fzf
.fzf.zsh
.gem
.gnupg
.hex
.irb_history
.lesshst
.local
.mix
.netrc
.node-gyp/
.node_repl_history
.npm
.npm-global
.npmrc
.nvm
.omg
.pry_history
.psql_history
.rbenv
.rubies
.ruby-version
.ssh
.sudo_as_admin_successful
.tool-versions
.vim/.netrwhist
.vim/plugged
.viminfo
.wget-hsts
.yarnrc
.zcompdump
.zsh/pure
Applications
Creative Cloud Files
Downloads
Dropbox
Google Drive File Stream
Library
Movies
Music
Pictures
bin/dropbox
config.exs
config_watcher.exs
go
snap
src
stripe
