[user]
  name  = Chris Hunt
  email = c@chrishunt.co
[github]
  user = chrishunt
[core]
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = vim -f
  autocrlf = input
  safecrlf = true
[advice]
  statusHints = false
[push]
  config = default
  default = tracking
[rebase]
  autosquash = true
[merge]
  summary = true
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green
[color "diff"]
  meta = blue
  frag = magenta
  old  = red
  new  = green
[color "status"]
  added = yellow
  changed = green
  untracked = blue
[alias]
  d   = diff
  ds  = diff --staged
  dw  = diff --color-words
  bam = branch --merged origin/master
  l   = log --pretty='format:%C(yellow)%h%C(reset) %C(blue)%ad%C(reset) %s%C(red)%d%C(reset) %C(green)%an%C(reset), %C(cyan)%ar%C(reset)' --date=short
  lp  = "!source ~/.githelpers && pretty_git_log"
  s   = status -s -b
  c   = commit -v
  co  = checkout
  w   = whatchanged --decorate
  wp  = whatchanged --decorate -p
  a   = add -u
  aa  = add -A
  td  = merge --no-ff
  sm  = submodule
  smu = submodule foreach git pull origin master
  ap  = add -u -p
