.CFUserTextEncoding
.DS_Store
.Trash
.adobe
.aws
.bash_history
.bundle
.cache
.config/configstore
.config/yarn
.cups
.docker
.dropbox
.gem
.gemrc
.gnupg
.inputrc
.lesshst
.local
.netrc
.node-gyp
.node_repl_history
.npm
.pry_history
.psql_history
.rbenv
.ssh
.subversion
.tsh
.vim/.netrwhist
.viminfo
.yarnrc
.zcompdump*
.zsh_history
Applications
Creative Cloud Files
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
src
