.CFUserTextEncoding
.asdf
.bash_logout
.bash_profile
.bashrc
.bundle
.cache
.config/configstore
.config/gatsby
.config/wslu/
.cpan/
.cups/
.docker
.dropbox
.dropbox-dist
.fzf
.fzf.zsh
.gem
.gnupg
.hex
.hyper_plugins/
.irb_history
.lesshst
.local
.mix
.netrc
.ngrok2/
.node-gyp/
.node_repl_history
.npm
.npm-global
.npmrc
.nvm
.omg
.oracle_jre_usage
.pry_history
.psql_history
.rbenv
.rubies
.ruby-version
.ssh
.sudo_as_admin_successful
.tool-versions
.vim/.netrwhist
.vim/plugged
.viminfo
.wget-hsts
.yarnrc
.zcompdump
.zsh/pure
.zsh_history
Applications
Creative Cloud Files
Desktop/
Documents/
Downloads
Dropbox
Google Drive File Stream
Library
Movies
Music
Pictures
Public/
bin/dropbox
config.exs
config_watcher.exs
go
node_modules
package-lock.json
snap
src
stripe
