[submodule ".vim/bundle/command-t"]
  path = .vim/bundle/command-t
  url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/coffee-script"]
  path = .vim/bundle/coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/colors-solarized"]
  path = .vim/bundle/colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-markdown"]
  path = .vim/bundle/vim-markdown
  url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-vividchalk"]
  path = .vim/bundle/vim-vividchalk
  url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-liquid"]
	path = .vim/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule ".vim/bundle/colors-base16"]
	path = .vim/bundle/colors-base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/ag-vim"]
	path = .vim/bundle/ag-vim
	url = git://github.com/epmatsw/ag.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = git@github.com:chrishunt/xterm-color-table.vim.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-textobj-rubyblock"]
	path = .vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-rbenv"]
	path = .vim/bundle/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule ".vim/bundle/ctrlpvim"]
	path = .vim/bundle/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/vim-hack"]
	path = .vim/bundle/vim-hack
	url = https://github.com/hhvm/vim-hack.git
[submodule ".vim/bundle/vim-editorconfig"]
	path = .vim/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
